

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-image: url(./Image/Logo_Natural_Barf.png);
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header ul{
    list-style-type: none;
    text-align: right;  
}

#home{
    background-color: rgb(9, 169, 218);
   
    color: black;
}
#home img{
    width: 35%;

}
#Alimentacion{
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.footer{
    background-color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
footer ul{
    list-style-type: none;
}
/*Pagina de Productos*/

.productos{
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.productos img{
    width: 40%;
}
.Nosotros{
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.Envios{
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}